.social {
  padding: 0 32px;
  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.social-list {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    display: block;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    background-color: #2196f3;
  }

  &__link:hover .social-list__icon,
  &__link:focus .social-list__icon {
    fill: #f5f4fa;
  }
}
